body{
    background-color: rgb(248, 255, 215);
    width: 100%;

}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(190, 126, 47);
    text-align: center;
}
img{
    
    border: 5px solid rgb(162, 86, 5);
    justify-content: center;
    
}
.contenedores{
    text-align: center;

}