@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "STIX Two Text", serif;
}

.div-conteiner{
    padding: 10px;
    margin: 10px;
}

.contenedor{
    position: relative;
    z-index: 2;
    display: inline-block;
}
.img-title{
    width: 100%;
    height: auto;
    object-fit:cover;
    display: block;
}


.texto{
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: rgb(255, 255, 255);
    z-index: 10;
}

.list-1{
    display: flex;
    list-style: none;
    padding: 1rem 0;
}

.list-vinc{
    font-size: 1.5rem;
}


a{
    color: rgb(255, 85, 0);
}
.vinculo-1{
    color: blueviolet;
}
.vinculo-2{
    color: green;
}
h2{
    font-size: 2rem;
    padding: 1rem 0;
}

h3{
   background-color: rgba(170, 73, 73, 0.767);
   color: white;
   padding: 0;
}

p{
    padding: 1rem 0 0 0;
}


.title-important{
    color: yellow;
}

.list-final{
    padding: 0rem 2rem;
}
.list-rem{
    padding: 1rem 2rem;
}
.list-rem-1{
    padding: 1rem 2rem 1rem;
}
