
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bungee&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@1,100..900&display=swap');


body { 
    font-family: "Roboto Condensed", sans-serif;
    background:url(/imagenes/fondo_2.jpg);
    background-repeat: no-repeat;
    padding: 20px;
 }

.container {
    max-width: 800px;
    margin: auto; 
    background: rgb(216, 215, 215); 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
}

form { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    margin-bottom: 20px; 
}

input, button { 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
}

button { 
    cursor: pointer; 
    background: #28a745; 
    color: white; 
    border: none; 
    grid-column: span 2; 
}

button:hover { 
    background: #218838; 
}

table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
}
th, td { 
    padding: 12px; 
    border-bottom: 1px solid #ddd; 
    text-align: left; 
}

.btn-edit { 
    background: #ffc107; 
    color: black; 
    margin-right: 5px; 
}

.btn-delete { 
    background: #dc3545; 
    color: white; 
}


