@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    background-color: #273238;
    font-family: "Roboto", sans-serif;
}


h2 {
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.productos-title {
    background-color: aliceblue;
    color: #273238;
    text-align: center;
}

img {
    border: 5px solid grey;
    margin-left: 20px;
}

p {
    color: aliceblue;
}